In [1]:
import pandas as pd
import numpy as np

%run msu.py

In [2]:
# games

In [3]:
games['count'] = games.groupby('ID').cumcount() + 1

In [4]:
# games

In [5]:
games1 = games[games['count'] == 1]
games2 = games[games['count'] == 2]

In [6]:
games2

,Date,Opp,W,Ws,Wp,ppg,pApg,FGp,3Pp,FTp,...,ASTpg,STLpg,BLKpg,TOpg,PFpg,Tm,sos,matchup,ID,count
37,2018-02-11,michigan,0,11,0.407407,65.6,70.8,0.4396,0.3794,0.694,...,13.0,3.8,4.0,9.8,19.4,wisconsin,7.67,"michigan,wisconsin","michigan,wisconsin,2018-02-11",2

In [7]:
games2_stats = games2.iloc[:, 5:19] 
games2_id = games2['ID']

In [8]:
g2cols = games2_stats.columns.tolist()

In [9]:
OPcols = ['OP{}'.format(col) for col in g2cols]

In [10]:
games2_stats.columns = OPcols

In [11]:
games2_stats

,OPppg,OPpApg,OPFGp,OP3Pp,OPFTp,OPORBpg,OPRBpg,OPASTpg,OPSTLpg,OPBLKpg,OPTOpg,OPPFpg,OPTm,OPsos
37,65.6,70.8,0.4396,0.3794,0.694,7.6,26.6,13.0,3.8,4.0,9.8,19.4,wisconsin,7.67

In [12]:
games2 = pd.concat([games2_stats, games2_id], axis=1)

In [13]:
games2

,OPppg,OPpApg,OPFGp,OP3Pp,OPFTp,OPORBpg,OPRBpg,OPASTpg,OPSTLpg,OPBLKpg,OPTOpg,OPPFpg,OPTm,OPsos,ID
37,65.6,70.8,0.4396,0.3794,0.694,7.6,26.6,13.0,3.8,4.0,9.8,19.4,wisconsin,7.67,"michigan,wisconsin,2018-02-11"

In [14]:
games.head()

,Date,Opp,W,Ws,Wp,ppg,pApg,FGp,3Pp,FTp,...,ASTpg,STLpg,BLKpg,TOpg,PFpg,Tm,sos,matchup,ID,count
0,2017-11-22,virginia-commonwealth,1,5,0.833333,75.6,62.6,0.5018,0.3378,0.7276,...,14.2,6.2,3.4,7.6,13.4,michigan,7.64,"michigan,virginia-commonwealth","michigan,virginia-commonwealth,2017-11-22",1
1,2017-11-26,california-riverside,1,6,0.857143,78.6,58.0,0.5216,0.3718,0.6700,...,16.2,7.2,4.2,9.0,12.4,michigan,7.64,"california-riverside,michigan","california-riverside,michigan,2017-11-26",1
2,2017-11-29,north-carolina,0,6,0.750000,80.6,65.8,0.5086,0.3610,0.6054,...,16.8,7.8,4.8,9.2,13.6,michigan,7.64,"michigan,north-carolina","michigan,north-carolina,2017-11-29",1
3,2017-12-02,indiana,1,7,0.777778,79.4,61.4,0.5116,0.3798,0.5826,...,17.6,7.6,5.2,9.8,12.6,michigan,7.64,"indiana,michigan","indiana,michigan,2017-12-02",1
4,2017-12-09,ucla,1,8,0.727273,73.4,64.6,0.4558,0.3488,0.5356,...,16.8,8.0,3.2,10.0,15.0,michigan,7.64,"michigan,ucla","michigan,ucla,2017-12-09",1

In [15]:
games1.head()

,Date,Opp,W,Ws,Wp,ppg,pApg,FGp,3Pp,FTp,...,ASTpg,STLpg,BLKpg,TOpg,PFpg,Tm,sos,matchup,ID,count
0,2017-11-22,virginia-commonwealth,1,5,0.833333,75.6,62.6,0.5018,0.3378,0.7276,...,14.2,6.2,3.4,7.6,13.4,michigan,7.64,"michigan,virginia-commonwealth","michigan,virginia-commonwealth,2017-11-22",1
1,2017-11-26,california-riverside,1,6,0.857143,78.6,58.0,0.5216,0.3718,0.6700,...,16.2,7.2,4.2,9.0,12.4,michigan,7.64,"california-riverside,michigan","california-riverside,michigan,2017-11-26",1
2,2017-11-29,north-carolina,0,6,0.750000,80.6,65.8,0.5086,0.3610,0.6054,...,16.8,7.8,4.8,9.2,13.6,michigan,7.64,"michigan,north-carolina","michigan,north-carolina,2017-11-29",1
3,2017-12-02,indiana,1,7,0.777778,79.4,61.4,0.5116,0.3798,0.5826,...,17.6,7.6,5.2,9.8,12.6,michigan,7.64,"indiana,michigan","indiana,michigan,2017-12-02",1
4,2017-12-09,ucla,1,8,0.727273,73.4,64.6,0.4558,0.3488,0.5356,...,16.8,8.0,3.2,10.0,15.0,michigan,7.64,"michigan,ucla","michigan,ucla,2017-12-09",1

In [16]:
games2.head()

,OPppg,OPpApg,OPFGp,OP3Pp,OPFTp,OPORBpg,OPRBpg,OPASTpg,OPSTLpg,OPBLKpg,OPTOpg,OPPFpg,OPTm,OPsos,ID
37,65.6,70.8,0.4396,0.3794,0.694,7.6,26.6,13.0,3.8,4.0,9.8,19.4,wisconsin,7.67,"michigan,wisconsin,2018-02-11"

In [24]:
games = pd.merge(games1, games2, how='left', on='ID')

In [25]:
games

,Date,Opp,W,Ws,Wp,ppg,pApg,FGp,3Pp,FTp,...,OPFTp,OPORBpg,OPRBpg,OPASTpg,OPSTLpg,OPBLKpg,OPTOpg,OPPFpg,OPTm,OPsos
0,2017-11-22,virginia-commonwealth,1,5,0.833333,75.6,62.6,0.5018,0.3378,0.7276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-11-26,california-riverside,1,6,0.857143,78.6,58.0,0.5216,0.3718,0.6700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-11-29,north-carolina,0,6,0.750000,80.6,65.8,0.5086,0.3610,0.6054,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-12-02,indiana,1,7,0.777778,79.4,61.4,0.5116,0.3798,0.5826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-12-09,ucla,1,8,0.727273,73.4,64.6,0.4558,0.3488,0.5356,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-12-12,texas,1,9,0.750000,67.8,66.6,0.4278,0.3192,0.5766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-12-30,jacksonville,1,12,0.800000,80.0,55.4,0.5010,0.3912,0.5832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018-01-02,iowa,1,13,0.812500,79.4,55.2,0.5054,0.4102,0.6704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2018-01-06,illinois,1,14,0.823529,83.4,58.6,0.5274,0.4270,0.6788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2018-01-09,purdue,0,14,0.777778,79.2,61.0,0.5226,0.4224,0.6902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2018-01-15,maryland,1,16,0.800000,74.6,69.2,0.4560,0.4236,0.7222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2018-01-18,nebraska,0,16,0.761905,70.0,70.0,0.4328,0.3800,0.6822,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2018-01-25,purdue,0,17,0.739130,70.4,70.0,0.4470,0.3860,0.6532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2018-01-29,northwestern,1,18,0.750000,65.6,65.0,0.4468,0.3620,0.6218,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2018-02-03,minnesota,1,19,0.760000,67.2,66.2,0.4536,0.3274,0.5910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2018-02-06,northwestern,0,19,0.730769,67.2,64.0,0.4558,0.3284,0.6078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2018-02-11,wisconsin,1,20,0.740741,71.4,69.0,0.4826,0.3544,0.6124,...,0.694,7.6,26.6,13.0,3.8,4.0,9.8,19.4,wisconsin,7.67
17,2018-02-14,iowa,1,21,0.750000,68.6,62.4,0.4456,0.3142,0.6012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2018-02-24,maryland,1,24,0.774194,77.6,63.4,0.4838,0.4248,0.7100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2018-03-01,iowa,1,25,0.781250,76.4,63.2,0.4622,0.3664,0.6726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2018-03-02,nebraska,1,26,0.787879,77.0,63.0,0.4672,0.3892,0.7326,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2018-03-04,purdue,1,28,0.800000,77.8,64.0,0.4702,0.3656,0.6880,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2017-11-21,ucla,0,2,0.400000,75.8,66.6,0.4734,0.3210,0.6696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2017-11-24,milwaukee,1,3,0.500000,73.0,66.4,0.4592,0.3392,0.6874,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2017-11-27,virginia,0,3,0.428571,62.6,64.0,0.4202,0.3056,0.6478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2017-12-06,temple,0,4,0.400000,57.0,60.6,0.4108,0.3502,0.6910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-12-09,marquette,0,4,0.363636,55.4,67.2,0.3960,0.3116,0.6810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2017-12-30,massachusetts-lowell,1,8,0.533333,77.8,69.0,0.5164,0.4158,0.6896,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2018-01-02,indiana,1,9,0.562500,79.4,64.8,0.5290,0.4426,0.7096,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2018-01-09,nebraska,0,9,0.500000,70.8,62.2,0.4946,0.3534,0.6766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2018-01-16,purdue,0,9,0.473684,64.4,63.8,0.4634,0.3466,0.6994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2018-01-19,illinois,1,10,0.500000,63.0,63.2,0.4574,0.3136,0.7090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2018-01-23,iowa,0,10,0.476190,62.2,68.0,0.4396,0.2646,0.7162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2018-01-29,nebraska,0,10,0.434783,63.2,72.6,0.4146,0.2928,0.7544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2018-02-01,northwestern,0,10,0.416667,63.6,69.0,0.4094,0.2834,0.7278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2018-02-04,maryland,0,10,0.400000,61.2,72.6,0.3874,0.2764,0.7208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2018-02-08,illinois,1,11,0.423077,63.4,69.4,0.4138,0.3386,0.7118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2018-02-15,purdue,1,12,0.428571,64.4,66.6,0.4328,0.3474,0.7208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2018-02-19,minnesota,1,13,0.448276,68.6,67.2,0.4582,0.3764,0.7030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2018-02-22,northwestern,1,14,0.466667,70.0,66.4,0.4806,0.3998,0.7020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2018-03-01,maryland,1,15,0.468750,64.4,60.4,0.4226,0.2998,0.7106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
games = games.drop(['Opp'], axis=1)
games = games.dropna()

In [28]:
games

,Date,W,Ws,Wp,ppg,pApg,FGp,3Pp,FTp,ORBpg,...,OPFTp,OPORBpg,OPRBpg,OPASTpg,OPSTLpg,OPBLKpg,OPTOpg,OPPFpg,OPTm,OPsos
16,2018-02-11,1,20,0.740741,71.4,69.0,0.4826,0.3544,0.6124,6.8,...,0.694,7.6,26.6,13.0,3.8,4.0,9.8,19.4,wisconsin,7.67