In [1]:
import pandas as pd
import pickle

In [2]:
gl_data = pd.read_pickle('../model_data/gamelog_5_exp_clust.pkl')
odds_data = pd.read_pickle('../data/odds_data.pkl')

In [3]:
odds_data.head()

,Final,ML,season,Team,Date,p,VHohe,count,Final_v,ML_v,Team_v,p_v,VHohe_v,vegas,actual_spread,W_odds,spread
0,65.0,-330.0,2018.0,west-virginia,2018-11-10,0.767442,0.0,1,88.0,260.0,texas-am,0.277778,1.0,1,-23.0,0,-6
1,97.0,-3750.0,2018.0,duke,2018-11-10,0.974026,0.0,2,68.0,1875.0,elon,0.050633,1.0,1,29.0,1,-11
2,63.0,-550.0,2018.0,richmond,2018-11-10,0.846154,0.0,3,76.0,400.0,delaware,0.200000,1.0,1,-13.0,0,-8
3,57.0,-250.0,2018.0,old-dominion,2018-11-10,0.714286,0.0,4,54.0,200.0,towson,0.333333,1.0,1,3.0,1,-4
4,84.0,-950.0,2018.0,loyola-il,2018-11-10,0.904762,0.0,5,80.0,625.0,wright-state,0.137931,1.0,1,4.0,1,-9

In [4]:
gl_data.columns

Index(['Date', 'W', 'sos', 'GameType', 'Wp', 'ppg', 'pApg', 'FGp', '3Pp',
       'FTp', 'ORBpg', 'RBpg', 'ASTpg', 'STLpg', 'BLKpg', 'TOpg', 'PFpg', 'Tm',
       'exp_factor', 'C0', 'C1', 'C2', 'F0', 'F1', 'F2', 'G0', 'G1', 'G2',
       'G3', 'OPsos', 'OPWp', 'OPppg', 'OPpApg', 'OPFGp', 'OP3Pp', 'OPFTp',
       'OPORBpg', 'OPRBpg', 'OPASTpg', 'OPSTLpg', 'OPBLKpg', 'OPTOpg',
       'OPPFpg', 'OPTm', 'OPexp_factor', 'OPC0', 'OPC1', 'OPC2', 'OPF0',
       'OPF1', 'OPF2', 'OPG0', 'OPG1', 'OPG2', 'OPG3'],
      dtype='object')

In [5]:
odds_data.columns

Index(['Final', 'ML', 'season', 'Team', 'Date', 'p', 'VHohe', 'count',
       'Final_v', 'ML_v', 'Team_v', 'p_v', 'VHohe_v', 'vegas', 'actual_spread',
       'W_odds', 'spread'],
      dtype='object')

In [6]:
def select_odds_col(df):
    df = df[['Date', 'Team', 'p', 'Team_v', 'p_v']]
    return df

In [7]:
odds = select_odds_col(odds_data)

In [8]:
odds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17116 entries, 0 to 17115
Data columns (total 5 columns):
Date      17116 non-null object
Team      17116 non-null object
p         17116 non-null float64
Team_v    17116 non-null object
p_v       17116 non-null float64
dtypes: float64(2), object(3)
memory usage: 668.7+ KB

In [9]:
def odds_merge_id(row):
    '''
    ID generator to merge odds data with gamelog data for odds dataframe
    '''
    row['ID'] = '{},{}'.format(",".join(sorted([row['Team'], row['Team_v']])), row['Date'])
    return row

In [10]:
odds = odds.apply(odds_merge_id, axis=1)

In [11]:
odds.head()

,Date,Team,p,Team_v,p_v,ID
0,2018-11-10,west-virginia,0.767442,texas-am,0.277778,"texas-am,west-virginia,2018-11-10"
1,2018-11-10,duke,0.974026,elon,0.050633,"duke,elon,2018-11-10"
2,2018-11-10,richmond,0.846154,delaware,0.200000,"delaware,richmond,2018-11-10"
3,2018-11-10,old-dominion,0.714286,towson,0.333333,"old-dominion,towson,2018-11-10"
4,2018-11-10,loyola-il,0.904762,wright-state,0.137931,"loyola-il,wright-state,2018-11-10"

In [12]:
gl_data.head()

,Date,W,sos,GameType,Wp,ppg,pApg,FGp,3Pp,FTp,...,OPC0,OPC1,OPC2,OPF0,OPF1,OPF2,OPG0,OPG1,OPG2,OPG3
0,2014-01-09,0,-4.12,season2014,0.200000,63.8,68.8,0.3938,0.3270,0.7078,...,0.0,0.008269,0.000000,0.085385,0.000769,0.241731,0.201346,0.0,0.260385,0.202115
1,2014-01-11,0,-4.12,season2014,0.400000,90.0,59.0,0.5052,0.3984,0.7640,...,0.0,0.000000,0.000000,0.008428,0.006115,0.368204,0.131218,0.0,0.108908,0.377128
2,2014-01-16,0,-4.12,season2014,0.375000,86.8,65.4,0.4646,0.3942,0.8012,...,0.0,0.000000,0.051880,0.103008,0.049323,0.260150,0.245865,0.0,0.001203,0.288571
3,2014-01-18,1,-4.12,season2014,0.352941,80.6,69.2,0.4454,0.4062,0.8170,...,0.0,0.011368,0.001305,0.219344,0.096906,0.065785,0.000000,0.0,0.234998,0.370294
4,2014-01-23,0,-4.12,season2014,0.388889,77.8,75.0,0.4444,0.4110,0.7930,...,0.0,0.000000,0.000000,0.039660,0.054158,0.416597,0.210132,0.0,0.279453,0.000000

In [13]:
gl_data.columns

Index(['Date', 'W', 'sos', 'GameType', 'Wp', 'ppg', 'pApg', 'FGp', '3Pp',
       'FTp', 'ORBpg', 'RBpg', 'ASTpg', 'STLpg', 'BLKpg', 'TOpg', 'PFpg', 'Tm',
       'exp_factor', 'C0', 'C1', 'C2', 'F0', 'F1', 'F2', 'G0', 'G1', 'G2',
       'G3', 'OPsos', 'OPWp', 'OPppg', 'OPpApg', 'OPFGp', 'OP3Pp', 'OPFTp',
       'OPORBpg', 'OPRBpg', 'OPASTpg', 'OPSTLpg', 'OPBLKpg', 'OPTOpg',
       'OPPFpg', 'OPTm', 'OPexp_factor', 'OPC0', 'OPC1', 'OPC2', 'OPF0',
       'OPF1', 'OPF2', 'OPG0', 'OPG1', 'OPG2', 'OPG3'],
      dtype='object')

In [14]:
def gamelogs_odds_merge_id(row):
    '''
    ID generator to merge odds data with gamelog data for gamelog dataframe
    '''
    # row['matchup'] = ",".join(sorted([row['Team'], row['Team_v']]))
    row['Season'] = row['GameType'][-4:]
#     row['matchup'] = 
    row['ID'] = '{},{}'.format(",".join(sorted([row['Tm'], row['OPTm']])), row['Season'] + row['Date'][-6:])
    return row

In [15]:
gl = gl_data.apply(gamelogs_odds_merge_id, axis=1)

In [16]:
gl.head()

,Date,W,sos,GameType,Wp,ppg,pApg,FGp,3Pp,FTp,...,OPC2,OPF0,OPF1,OPF2,OPG0,OPG1,OPG2,OPG3,Season,ID
0,2014-01-09,0,-4.12,season2014,0.200000,63.8,68.8,0.3938,0.3270,0.7078,...,0.000000,0.085385,0.000769,0.241731,0.201346,0.0,0.260385,0.202115,2014,"abilene-christian,new-orleans,2014-01-09"
1,2014-01-11,0,-4.12,season2014,0.400000,90.0,59.0,0.5052,0.3984,0.7640,...,0.000000,0.008428,0.006115,0.368204,0.131218,0.0,0.108908,0.377128,2014,"abilene-christian,southeastern-louisiana,2014-..."
2,2014-01-16,0,-4.12,season2014,0.375000,86.8,65.4,0.4646,0.3942,0.8012,...,0.051880,0.103008,0.049323,0.260150,0.245865,0.0,0.001203,0.288571,2014,"abilene-christian,oral-roberts,2014-01-16"
3,2014-01-18,1,-4.12,season2014,0.352941,80.6,69.2,0.4454,0.4062,0.8170,...,0.001305,0.219344,0.096906,0.065785,0.000000,0.0,0.234998,0.370294,2014,"abilene-christian,central-arkansas,2014-01-18"
4,2014-01-23,0,-4.12,season2014,0.388889,77.8,75.0,0.4444,0.4110,0.7930,...,0.000000,0.039660,0.054158,0.416597,0.210132,0.0,0.279453,0.000000,2014,"abilene-christian,lamar,2014-01-23"

In [17]:
def merge(df1, df2):
    df2.drop(['Date'], axis=1, inplace=True)
    merged_df = pd.merge(df1, df2, how='left', on='ID')
    return merged_df

In [18]:
merged_df = merge(gl, odds)

In [19]:
merged_df.head()

,Date_x,W,sos,GameType,Wp,ppg,pApg,FGp,3Pp,FTp,...,OPG1,OPG2,OPG3,Season,ID,Date_y,Team,p,Team_v,p_v
0,2014-01-09,0,-4.12,season2014,0.200000,63.8,68.8,0.3938,0.3270,0.7078,...,0.0,0.260385,0.202115,2014,"abilene-christian,new-orleans,2014-01-09",NaN,NaN,NaN,NaN,NaN
1,2014-01-11,0,-4.12,season2014,0.400000,90.0,59.0,0.5052,0.3984,0.7640,...,0.0,0.108908,0.377128,2014,"abilene-christian,southeastern-louisiana,2014-...",NaN,NaN,NaN,NaN,NaN
2,2014-01-16,0,-4.12,season2014,0.375000,86.8,65.4,0.4646,0.3942,0.8012,...,0.0,0.001203,0.288571,2014,"abilene-christian,oral-roberts,2014-01-16",NaN,NaN,NaN,NaN,NaN
3,2014-01-18,1,-4.12,season2014,0.352941,80.6,69.2,0.4454,0.4062,0.8170,...,0.0,0.234998,0.370294,2014,"abilene-christian,central-arkansas,2014-01-18",NaN,NaN,NaN,NaN,NaN
4,2014-01-23,0,-4.12,season2014,0.388889,77.8,75.0,0.4444,0.4110,0.7930,...,0.0,0.279453,0.000000,2014,"abilene-christian,lamar,2014-01-23",NaN,NaN,NaN,NaN,NaN